body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.logo {
    width: 125px;
}

.hero {
    position: relative;
    height: 400px; /* Set the height to 400px */
    background: url('images/va-hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
    text-align: center;
}

.hero h1 {
    font-size: 3.5em; 
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.8em; 
}

section {
    padding: 50px 0;
}

.about, .services, .testimonials, .contact {
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
